/* Tập lại cái CSS */

body {
    background-color: grey;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    margin: 10px auto;
}

#loading{
    background-color: black;
    position: fixed;
    opacity: 0.8;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading p {
    font-size: 30px;
    position: absolute;
    top: 480px;
    color: #fff;
}

.setting {
    display: flex;
}

.setting button {
    margin: 0 2px;
}

.seperate-line {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}